* {
  text-decoration: none;
  list-style: none;
  color: #3f3f3f;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  margin-top: 1.5rem;
}
.mobile-menu {
  font-size: 3rem;
  color: #000;
  display: none;
}
.nav-primary {
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 4rem;
  color: #3f3f3f;
}
ul {
  display: flex;
}

li a {
  color: #3f3f3f;
  margin-right: 2.4rem;
}

/* banner section */
.banner-container {
  display: flex;
  gap: 8rem;
  align-items: center;
  justify-content: center;
}
.banner-container {
  margin-left: 4rem;
}
.banner-title {
  font-size: 3.25rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
}
.btn-primary {
  background-color: #e02c6d;
  color: #eae8e8;
  cursor: pointer;
  border: 0;
}
.btn-banner {
  border-radius: 41px;
  padding: 1rem 3rem;
  text-align: center;
}
.btn-banner span i {
  color: #fff;
  font-size: 1rem;
  margin-left: 0.5rem;
}
.banner-image {
  background-image: url("./images/Circle\ design.svg");
  background-repeat: no-repeat;
  margin-right: 2rem;
}
.banner-image img {
  padding: 5rem 3rem;
  width: 80%;
}

/*end of banner section */

/* media query for mobile */

@media screen and (max-width: 576px) {
  .nav-primary {
    padding: 1.5rem;
  }
  .list-container {
    display: none;
  }

  .mobile-menu {
    display: block;
    padding: 1.5rem;
  }
  .btn-banner {
    border-radius: 3rem;
    padding: 1rem 0.6rem;
  }
  .banner-container {
    flex-direction: column;
    margin-left: 0.5rem;
    padding: 1rem 2.5rem;
  }
  .banner-text {
    font-size: 1.5rem;
    color: #3f3f3f;
    letter-spacing: 1.5px;
  }
  .banner-image {
    /* margin-left: 2rem; */
    /* width: 100%; */
    margin-right: 2rem;
  }
  .banner-image img {
    width: 90%;
    margin-top: 0.5rem;
  }
}
